<div class="row">
  <div class="col-md-9">
    <h2>投稿一覧</h2>
    <%= form_with action: :show, method: :get, local: true, class: "change_date_type" do |f| %>
      <%= f.select :date_type, [['全て', 0],['週報', 1]], selected: params[:date_type] %>
      <%= f.submit "切替", class: "btn btn-primary", name: nil %>
    <% end %>

    <% if @posts.present? %>
      <% @posts.each do |p|  %>
        <div class="mono_post">
          <%= link_to post_path(p) do %>
            <div class="row">
              <p style="color:gray;display:inline-block;margin-left:1rem;"><%= p.created_at.strftime('%Y/%m/%d') %></p>
                <% if p.status == 0 %>
                  <span class="col-md-2 offset-md-8 bg-info text-white post-status text-center">承認待ち</span>
                <% elsif p.status == 1 %>
                  <span class="col-md-2 offset-md-8 bg-success text-white post-status text-center">公開</span>
                <% else %>
                  <span class="col-md-2 offset-md-8 bg-danger text-white post-status text-center">却下</span>
                <% end %>
            </div>
            <h5 style="color:gray"><%= p.title %></h5>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-3">
    <div class="boss_container">
      <% if @user.boss_id.present? %>
        <div class="boss_box">上司：<span><%= @boss.name %></span></div>
      <% else %>
        <% if current_user.admin_flag == true %>
         <div class="boss_search">
            <%= form_with url: users_boss_search_path, method: :get, class: "boss_search_form" do |f| %>
              <%= f.text_field :name, placeholder: "上司を検索", class: "boss_search_field", maxlength:10, pattern: "^[a-z]+$", title:"半角英数字で入力して下さい"  %>
              <%= f.hidden_field :user_id, :value => @user.id %>
              <%= f.submit "候補者を表示", class: "btn btn-primary", name: nil %>
            <% end %>
         </div>
         <div class="result"></div>
       <% end %>
      <% end %>
    </div>
    <% if @user.subordinate_id.present? %>
      <div class="subordinate_box">
        部下：
        <div class="subordinate_names">
          <% @subordinate.each do |i| %>
            <%= link_to i.name, "/users/#{i.id}", style:"display: block;" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
