<div class="container session_container">
  <h1>新規登録</h1>
  <div class="row signup_form">
    <%= form_for(@user) do |f| %>
  	 <%= render 'shared/error_messages'%>

     <p style="font-weight:bold;">半角英数字だけ使用して入力してください</p>
     <%= f.text_field :name, class: 'input-group-text name_field', maxlength: 10, placeholder: "名前", pattern: "^[a-z0-9]+$", title:"半角英数字で入力して下さい" %>
     <%= f.password_field :password, class:'input-group-text password_field', maxlength: 10, placeholder: "パスワード", pattern: "^[a-z0-9]+$", title:"半角英数字で入力して下さい" %>
     <%= f.password_field :password_confirmation, class:'input-group-text password_confirmation_field', maxlength: 10, placeholder: "パスワード確認", pattern: "^[a-z0-9]+$", title:"半角英数字で入力して下さい" %>
  	 <%= f.submit '登録する', class: 'btn btn-primary' %>
  	<% end %>
  </div>
</div>
